.add_from {
  width: 80%;
  margin: 0 auto;
}
.ant-form-item {
  display: flex;
}
.ant-form-item-control-wrapper {
  width: 100%;
}
.ql-container {
  min-height: 300px;
  background-color: #fff;
}
.ant-form-item-children {
  display: flex;
}


.summary{
  width: 200px;
  white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

