@import '~antd/dist/antd.css';
#root{
  height: 100%;
}
.ant-layout-header {
  height: 64px;
    line-height: 0;

}
.user_info {
  display: flex;
  padding: 0 20px;
  height: 50px;
  align-items: center;
    justify-content: flex-end;
}
.user_info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
